
.navbar {
	text-transform: uppercase;
    font-weight: 500;
    font-size: .9rem;
    letter-spacing: .1rem;
    background-color: rgb(0, 0, 0) !important;
    opacity: 0.7;
    text-emphasis-color: white;

}

.navbar-brand img {
   height: 2rem;

}

.navbar-nav li {
    padding-right: .7rem;
 
 }

.navbar-dark .navbar-nav .nav-link {
    padding-top: .8rem;
 }

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(61, 61, 233);
 }

 body{
    background-image: url("../img/back.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

main {
    text-align: left;
    margin: auto;
    width: 70%;
    color: white;
    background-color: rgba(0, 0, 0, 0.534);
    padding-bottom: 40px;
}